.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #45d2cf;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  color: white;
}

a {
  font-size: 26px;
  color: white;
}

.active a {
  color: #000;
}
